/* Footer.css */
.site-footer {
    background-color: #f8f8f8;
    padding: 30px 0;
  }
  
  .site-footer h6 {
    color: #222;
    font-size: 18px;
    margin-top: 15px;
    text-transform: uppercase;
  }
  
  .site-footer p {
    color: #737373;
  }
  
  .footer-links li {
    display: block;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #737373;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #3366cc;
  }
  
  .copyright-text {
    color: #666;
    margin: 0;
  }
  
  .social-icons {
    padding: 0;
    list-style: none;
  }
  
  .social-icons li {
    display: inline;
    margin: 0 10px;
  }
  
  .social-icons a {
    color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
  }
  
  .social-icons a:hover {
    color: #fff;
    background-color: #3366cc;
    border-color: #3366cc;
  }
  